 */
body {
  background: #f1f1f1;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 25px;
}
h3 {
  font-size: 15px;
}
h4 {
  font-size: 10px;
}
/* Giving our navbar some padding and a background color */
.navbar {
  padding: 20px;
  background: #89aae4;
}

/* Making our navbar li's inline-block elements this makes it so we can have multiple on the same line. Floats could have been used too */
.navbar li {
  display: inline-block;
  padding: 5px;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
  background: #fff;
  border-radius: 10px;
}

.tablehead {
	border: 3px solid black;
  word-wrap: normal;
  text-align:center;
}

.table-content {
	margin: 30px 10px 10px 10px;
	border: 10px 10px 10px 10px;
	padding: 20px 20px 20px 20px;
	color: black;
	background-color: white;
}
